*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow: scroll;
}

body{
   font-family:sans-serif,'Poppins','Montserrat';
   background:
   linear-gradient(0deg, rgba(192,194,194,1) 0%, rgba(18,16,5,1) 34%, rgba(14,12,1,1) 73%, rgba(94,90,80,1) 100%),;
   color:#000;
   background-size: 40px 40px;
   background-image: radial-gradient(circle, #000000de 1px, rgba(0, 0, 0, 0) 1px);
   height: 100%;
}
ul{
 list-style:none;
}
/*navbar*/
.navbar-container{
    background: #c2bfbf;
    text-decoration: none;
    padding:10px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    text-align: center;
}
.logo a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 36px;
    transition-duration:.5s ;
    
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: .3s;
}

.navbar a {
    cursor: pointer;
    padding: 5px;
    font-weight: 500;
    color:#000;
    transition-timing-function:  cubic-bezier(0,1.5,0.5,1);
    transition-duration: .5s;
}

.navbar a:hover{
    text-decoration: none;
    color:#000;
    font-size: 32px;
    font-weight: 600;
    border-bottom:2px solid #ff0202 ;
    border-radius: 16px ;
}
.menu-container {
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: block;
    padding: 10px;
    transition: all .4s ease 0s;
}



/*main*/
.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
/*section*/
.sec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;


}
.banner-img {
    margin-left: 6rem;
    margin-right: 6rem;
    border-radius: 6px;
    box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
    margin-bottom: 1rem;
}


.brand {
    font-size: 46px;
    font-weight: 800;
    color: #000000;
    padding: 12px;
    margin: 1rem;
}

.Weather-heading {
    background-color: rgb(4, 14, 22);
    opacity: 80%;
    border: 2px inset deepskyblue;
    color: burlywood;
    padding: 12px;
    font-weight: 700;
    font-size: 36px;
    margin-left:2rem;
    margin-right:2rem;
}



.form-bg{
    background:rgb(63, 61, 61);
    margin-left:6rem;
    margin-right:6rem;
    border-radius: 64px;
    box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
    height: 80px;
    padding: 6px;
}
.sec-form{
padding: 16px;
}
#query-form select {
    background: #fff;
    height: 50px;
    border: 2px solid #001964;
    border-radius:24px ;
    text-align: center;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.7);
}
.form-subheading {
    color: #fff;
    font-weight: 800;
    text-align: center;
    font-size: 28px;

}

.card {
    margin: 10px;
}
.city-not{
    padding:12px;
    border: outset ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1rem;
}
/*footer*/

footer {
    text-align: center;
    background: #000;
    padding: 1rem;
}
.footer-img {
  transform: scale(.55);
}

.title-timer{
    background: whitesmoke;
    padding: 16px;
    border: 2px solid #000;
    border-radius: 64px;
    margin-top: 12px;
  }

.social ul li {
    margin: 1rem;
   font-weight: 800;
   font-size: 22px;
}
.social li a {
    color: beige;
}
/*nav media*/
@media only screen and (max-width:768px) {
    .b-menu {
    padding-top: 20px;
    transition: all .4s ease 0s;
    }
    .bun {
    background: #000;
    position: relative;
    transition: all 0.5s ease;
    -webkit-transition: all .4s ease;
    }
    .bun-top{
    width: 25px;
    height: 2px;
    top:0;
    }
    .bun-middle{
    width: 25px;
    height: 2px;
    top:8px;
    }
    .bun-bottom{
    width: 25px;
    height: 2px;
    top: 16px;
    }
    .navbar a{
        padding: 1rem;
    }
    .navbar  {
        display: none;
    }
    
    .show{
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: .3s ease-in-out;
    background: rgb(255, 103, 103);
    position: relative;
    color: #000;
    top:70px;
    height: 90%;
    border-radius: 24px;
    padding: 20px;
    }
    .menu-b{
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: space-around;
   
    }
    .active{
        background: #ff0202;
    }
    .zero {
        opacity: 0%;
    }
    .logo a {
        font-size: 22px;
        font-weight: 500;

    }
}


/*media*/
@media only screen and (max-width:900px) {
    .banner-img{
    width: 820px;
    transform: scale(.90);
    }
}
@media only screen and (max-width:786px) {
    .banner-img{
   width: 420px;
    transform: scale(.90);
    }
    .city-n{
     font-size: 18px;
    }
    .Weather-heading{
        font-size: 22px;
    }
    .brand{
        font-size: 26px;
    }

}
@media only screen and (max-width:320px) {
    .banner-img{
        width: 320px;
        transform: scale(.90);
    }
}